<ion-header>
  <ion-navbar color="blue">
    <ion-title>
      <ion-icon name="list-box"></ion-icon>
      Chat
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let room of rooms; let i = index;" (click)="onClickOpenChat(room)" (press)="deleteRoomChat(i);">
      <ion-avatar item-left>
        <img src="{{room.friend.path_photo}}">
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{room.friend.name}}
          </ion-col>
          <ion-badge item-end *ngIf="room.messages.length > 0">{{room.messages[room.messages.length-1].dateTxt}}</ion-badge>
        </ion-row>
        <ion-row *ngIf="room.messages">
          <ion-col>
            <p *ngIf="room.messages.length > 0">{{room.messages[room.messages.length-1].content}}</p>
          </ion-col>
          <ion-badge item-end *ngIf="readCount[i] > 0" color="danger">{{readCount[i]}}</ion-badge>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="signout();">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
