page-register {
  div#logo {
    margin-top: 25px;
    margin-bottom: 12px;
  }
  .content {
    background-color: #E9EBEE;
  }
  .item {
    background-color: #E9EBEE;
  }

  ion-label {
    color: black;
    text-align: center;
    margin: 0;
  }

  .label {
    margin: 0 0 5px 0;
  }

  ion-input {
    background-color: #fff;
    border-radius: 500px;
    border: solid 1px #306dd8;
    margin: 0 0 5px 0;
    padding-left: 10px;
  }
}
