<ion-header>
  <ion-navbar color="blue" hide-tabs>
    <ion-title *ngIf="room">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon> {{room.friend.name}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding #content>

  <div #scrollMe class="message-wrap" *ngIf="room">

    <div *ngFor="let message of room.messages; let i = index;">
      <div class="sender" *ngIf="message.sender == room.friend.email">
        <ion-grid>
          <ion-row>
            <ion-col col-2 text-left>
              <img class="friend-img" [src]="room.friend.path_photo" alt="">
            </ion-col>
            <ion-col col-10 (press)="deleteMsg(i)">
                <p>{{message.content}}<br /><small>{{message.dateTxt}}</small></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="me" *ngIf="message.sender == user.email">
        <ion-grid>
          <ion-row>
            <ion-col col-10 (press)="deleteMsg(i)" color="char">
              <p>{{message.content}}<br /><small>{{message.dateTxt}}</small></p>

            </ion-col>
            <ion-col col-2>
              <img class="friend-img" [src]="user.path_photo" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar color="blue">
    <ion-textarea (keyup.enter)="doSend()" [(ngModel)]="input" placeholder="Enter your message" name="message">
    </ion-textarea>
    <ion-buttons end>
      <button (click)="doSend()" ion-button icon-only>
        <ion-icon name="send" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
