<ion-header>
  <ion-navbar>
    <ion-title *ngIf="room">{{room.friend.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="message-wrap" *ngIf="room">

    <div *ngFor="let message of room.messages">

      <div class="sender" *ngIf="message.sender == room.friend.email">

        <ion-grid>
          <ion-row>
            <ion-col col-2 text-left>
              <img class="friend-img" [src]="room.friend.photo"
                alt="">
            </ion-col>
            <ion-col col-10>
              <p>{{message.content}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="me" *ngIf="message.sender == user.email">
        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <p>{{message.content}}</p>
            </ion-col>
            <ion-col col-2>
              <img class="friend-img" [src]="user.photo" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary">
    <ion-textarea (keyup.enter)="doSend()" [(ngModel)]="input" placeholder="Enter your message" name="message"></ion-textarea>
    <ion-buttons end>
      <button (click)="doSend()" ion-button icon-only>
        <ion-icon name="send" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
