<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button end (click)="presentModal()">add</button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="friends">
    <ion-item *ngFor="let friend of friends;" (click)="onClickChancePage(friend);">
      <ion-avatar item-left>
        <img [src]="friend.photo">
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{friend.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
