
<ion-header>
  <ion-navbar color="blue">
    <ion-title><ion-icon ios="ios-paper" md="md-paper"></ion-icon>
      <span *ngIf="friend">
        {{friend.name}}'s Profile
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="friend">
    <ion-item>
      <img src="{{friend.photo}}"
        alt="picture">
    </ion-item>

    <div style="margin-top: 40px; text-align: center;">
      <button ion-button icon-only (click)="onClickOpenChat()">
        <ion-icon name="chatboxes"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>
